:root {
  --border-color: #29681b;
  --background-color: #b5f6a7;
  --hover-background-color: #afdfd0;
  --input-background-color: #DAF9D4;
  --header-background-color: #29681b;
  --header-text-color: white;
  --button-background-color: #29681b;
  --button-background-color-highlight: #19520d;
  --button-disabled-background-color: #688a61;
  --menu-background-color: #a1e6a0;
  --menu-item-background-color: #8de08b;
  --menu-item-color: #404040;
  --button-text-color: #ffffff;
  --data-background-color: #DAF9D4;
  --alternative-background-color: #d4f9eb;
}

body {
  background-color: #b5f6a7;
  font-family: Roboto, Helvetica, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

button {
  background-color: var(--button-background-color);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
  border-radius: .3em;
}

button:disabled {
  background-color: var(--button-disabled-background-color);
  cursor: not-allowed;
}